# Dependency directories
node_modules/

# Build files
dist/

# Environment variables
.env*
!.env.example

# Prisma
*.db
*.db-journal

# package manager lock files
yarn.lock
package-lock.json
bun.lock

# temp
temp/

# test
coverage/

# log
logs/

# boilerplate
.github/
